@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.3;
}

a {
  color: #00bd6e;
  font-weight: 600;
  text-decoration: none;
}

.Hero {
  height: 920px;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.HeroGroup {
  max-width: 600px;
  margin: 0 auto;
  padding: 150px 50px;
  text-align: center;
}

.HeroImage{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 65px;
  text-align: center;
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}



.Hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  animation: HeroAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.Hero p {
  font-size: 30px;
  line-height: 1.5;
  color: rgba(255,255,255, 0.8);
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;

}

.Hero a {
  font-size: 17px;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  background: #00bd6e;
  padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a:hover {
  background: #00bd6e;
  color: white;
}
@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 40px;
  }

  .Hero p {
    font-size: 24px;
  }
}

@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px)
  }
  100% {
      opacity: 1;
      transform: translateY(0px)
  }
}

